
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


$textXl:5rem;
$textLg:3rem;
$textMd:2.4rem;
$textSm:2rem;
$textXsm:1.2rem;


$textRegular:400;
$textLight:300;

@mixin textOne($size, $align, $weight){
    font-size: $size;
    text-align: $align;
    font-weight: $weight;
}

.text__default{
    font-weight: $textLight;
    text-decoration: none;
    text-align: center;
    color: map-get($map: $defaultColors, $key:'cuatro');
}

.text__list{
    @extend .text__default;
    font-size: $textMd;
    margin: 30px 50px;
}

.text__aside{
    @extend .text__default;
    font-size: $textMd;
    margin-top: 13%;
}

.text__p{
    @extend .text__default;
    font-size: $textSm;
    line-height: $textLg;
    margin: auto 70px;
}
.text__p--sm{
    @extend .text__default;
    font-size: $textXsm;
    line-height: $textLg;
    margin: 20px 70px;
}
.text__color--fg{
    color: map-get($map: $defaultColors, $key:'cinco');
}

.text__index{
    @include textOne($textSm, left , $textLight);
    color: map-get($map: $defaultColors, $key:'cuatro');
}

.text__video{
    @include textOne($textSm, center ,$textLight);
    color: map-get($map: $defaultColors, $key:'cinco');
}