
.transformlight:hover{
    transform: translate(1px,10px);
    cursor: pointer;
    transition: transform 1s;
}

.transform:hover{
    transform: translate(30px,15px);
    cursor: pointer;
    transition: transform 1s;
}


.video{
    max-width: 100%;
    height: auto;
}
.video__div{
    justify-content: space-evenly;
    margin-bottom: 25px;
}

.img__body{
    max-width: 100%;
}