
.navbar__test{
    background-color:map-get($map: $defaultColors, $key:'dos');
    font-size:$textMd;
    font-weight:$textRegular;
    position: sticky;
    top: 0;
    display: flex;
    margin: 10px 30px;
    z-index: 5000;

    div{
        justify-content: space-evenly;
        a{
            justify-content: space-evenly;
            color: map-get($map: $defaultColors, $key:'tres');
            &:hover{
                font-weight: bolder;
            }
        }
    }
}


.navbar__logo {
    height: 60px;
}