
.container__productos{
    font-size: $textSm;
    line-height: $textLg;
    font-weight: $textLight;
    color: $textColor   ;
    text-align: center;
}

.img__productos{
    max-width: 404px;
    max-height: 347px;
    }