$defaultColors:(
    'uno': #4E9F3D,
    'dos': #1E5128,
    'tres': #93C473,
    'cuatro': #D8E9A8,
    'cinco': #367833,
    'seis': black,
    'siete':#1B281D66,
    'ocho': linear-gradient(47deg, rgba(0,0,0,1) 0%, rgba(22,79,7,0.8211659663865546) 50%, rgba(0,0,0,1) 100%),);


$formColors:(
    'uno': #b6b3b3,
    'dos': #fffadb,
    'tres': #b9b8b8,
    'cuatro': #ffffdc,);

.h-1300{
    height: 1300px;
}
.w-imgaside{
    max-width: 200px;
}

.w-imgsection{
    max-width: 900px;
}

.w-imgbody{
    max-width: 100%;
}

.resolution{
    width: 640px;
    height: 480px;
}


