
$titleColor:#4E9F3D;
$navbgColor:#1E5128;
$navliColor:#93C473;
$textColor:#D8E9A8;
$fgColor:#367833;
$primaryformColor:#b6b3b3;
$secondaryformColor:#fffadb;
$thirdformColor:#b9b8b8;
$fourthformColor:#ffffdc;
$bgcardColor:linear-gradient(47deg, rgba(0,0,0,1) 0%, rgba(22,79,7,0.8211659663865546) 50%, rgba(0,0,0,1) 100%);
$bgBlack:black;
$bgGrey:#1B281D66;

.h-1300{
    height: 1300px;
}
.w-imgaside{
    max-width: 200px;
}

.w-imgsection{
    max-width: 900px;
}

.w-imgbody{
    max-width: 100%;
}

.resolution{
    width: 640px;
    height: 480px;
}


